services:
  bun:
    build: .
    container_name: bun-client
    working_dir: /app
    volumes:
      - ./app:/app
      - /app/node_modules
    ports:
      - "5173:5173"
    tty: true
    stdin_open: true